:root {
	--c-light: #ffffff;
	--c-dark: #372e38;
	--c-not-as-dark: #372e3888;
	--c-primary: #904276;
	--c-primary-polar: var(--c-light);
	--c-noot: #ffc2bf;
	--c-noot-polar: var(--c-dark);
	--f-primary: 'Figtree', sans-serif;
	--f-monospace: '04b08', monospace, var(--f-primary);
	--f-monospace: monospace;
}
